<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Formulario Usuario</title>
</head>

<body>

	<h2 th:text="${usuario.id == null ? 'Registrar Usuario' : 'Editar Usuario'}"></h2>

	<form th:action="@{/usuarios/guardar}"
	      th:object="${usuario}"
	      method="post">

		<input type="hidden" th:field="*{id}" />

		<label>Nombre:</label>
		<input type="text" th:field="*{nombreCompleto}" />
		<small th:errors="*{nombreCompleto}"></small>
		<br><br>

		<label>Correo:</label>
		<input type="email" th:field="*{correo}" />
		<small th:errors="*{correo}"></small>
		<br><br>

		<label>Rol:</label>
		<select th:field="*{rol}">
			<option value="">-- Seleccione --</option>
			<option th:each="r : ${roles}"
			        th:value="${r.codRol}"
			        th:text="${r.nombreRol}">
			</option>
		</select>
		<small th:errors="*{rol}"></small>
		<br><br>

		<button type="submit">Guardar</button>

		<a th:href="@{/usuarios/listar}">
			<button type="button">Volver al listado</button>
		</a>

	</form>

</body>
</html>
