<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>Listado de Usuarios</title>
</head>

<body>

	<table border="1">
		<tr>
		    <th>ID</th>
			<th>Nombre</th>
			<th>Correo</th>
			<th>Rol</th>
			<th sec:authorize="hasRole('ADMIN')">Acciones</th>
		</tr>

		<tr th:each="u : ${usuarios}">
	    	<td th:text="${u.id}"></td>
			<td th:text="${u.nombreCompleto}"></td>
			<td th:text="${u.correo}"></td>
			<td th:text="${u.rol.nombreRol}"></td>

			<td sec:authorize="hasRole('ADMIN')"><a
				th:href="@{/usuarios/editar/{id}(id=${u.id})}"> Editar </a> | <a
				href="#" th:onclick="'confirmar(' + ${u.id} + ')'"> Eliminar </a></td>
		</tr>
	</table>

	<script>
		function confirmar(id) {
			if (confirm("¿Está seguro de eliminar el usuario?")) {
				window.location.href = "/usuarios/eliminar/" + id;
			}
		}
	</script>

</body>
</html>
